<footer class="container-fluid bh-absolute-bottom">
    <div class="container">
        <div class="row">
            <div class="col footer">
                <p>
                    Ⓒ 2018 • Autimismus.vzw
                    <br>In samenwerking met Gielen Marie en Arteveldehogeschool
                </p>
                <p>
                    <a class="logo-footer" href="">
                        <img width="10%" src="{{ '/assets/images/logo/logo-wit.png' | relative_url }}">
                    </a>
                    &nbsp; &nbsp; &nbsp;
                    <a class="logo-footer" href="">
                        <img width="15%" src="{{ '/assets/images/logo/logo_arteveldehogeschool.png' | relative_url }}">
                    </a>
                </p>   
  
            </div>
        </div>
    </div>
</footer>

<button onclick="topFunction()" id="to-top" ><i class="fas fa-angle-up"></i></button>